# TEALS/AGCI-ROWE SUMMER AI PROGRAM
## Introduction to Python  

This notebook introduces sombe basic Python concepts. It is not exhaustive and just scratches the surface. It is meant to help you get started into an exciting journey of Python and AI. 


#### References  
Content used in creating this notebook is derived from the following resources. They are free online and should be used as resources for further and indepth studies.  

- [Intro to Python 3 Programming Tutorial](https://www.youtube.com/watch?v=eXBD2bB9-RA&t=5s&ab_channel=sentdex)  
- [Official Python 3 Tutorial](https://docs.python.org/3/tutorial/index.html)
- [Udacity Introduction to Python Free Course](https://www.udacity.com/course/introduction-to-python--ud1110)  
- [Python Tutorial - W3 Schools](https://www.w3schools.com/python/default.asp)

### Installation  
The first thing you need is to download Python. You can get this directly from the official Python website [downloads](https://www.python.org/downloads/) page. Depending on your platform, it should be an easy installation of the executable file.    

> The latest is Python 3.9.6 at the time of writing this.  

### IDE
After installing Python, next most important thing is selecting an **Integrated Development Environment (IDE)**.  

Here are a few options:  
- **Notepad/Textpad**  

- [IDLE](https://docs.python.org/3/library/idle.html#:~:text=IDLE%20is%20Python%E2%80%99s%20Integrated%20Development%20and%20Learning%20Environment.,mostly%20the%20same%20on%20Windows%2C%20Unix%2C%20and%20macOS)

- [Visual Studio Code](https://code.visualstudio.com/)  

- [Sublime Text](https://www.sublimetext.com/)  

- [PyCharm](https://www.jetbrains.com/pycharm/)

### Python Syntax  

#### Print Statements:  
The first thing anyone should learn is how to print statements out to console. This is done using the **print** statements.

In [ ]:
print("Hello World!")

Hello World!

The same code can be written in a file that ends with `.py`, for example `example_script.py`. Executing the code can be done by running the following:  

```
python example_script.py
```

#### Indentation  
To create a block and scope in Python, we use indentation. Indentation is the spaces at the beginning of a line of code. Other languages use indentatation for clarity and readibility, in Python it's baked into the language syntax
```
if 10 < 20:
   print("Ten is less than twenty, right?") 
```  

An error is seen without indentation  
```
if 10 < 20:
print("Ten is less than twenty, right?") 
``` 

> **The number of spaces is up to you but you have to stay consistent. Best practice is usually 4 spaces**.  

```
if 5 > 2:
 print("Ten is less than twenty, right?")
        print("Ten is less than twenty, right?")
```

### Variables  
A variable is a reserved memory location to store values. Everything in Python is an object, and a variable can be seen as a literal representation with that object. Every value has a data type in Python.  

variables are literarily created when you assign a value to something. The datatype is inferred from the data assigned.  

```
foo = 4
bar = "We are learning Python 3!"
baz = [1 ,2, 3]
bay = (1, 2, 3,)
```

In [ ]:
foo = 4
bar = "We are learning Python 3!"
baz = [1 ,2, 3]
bay = (1, 2, 3,)

In [ ]:
print(foo)
print(bar)
print(baz)
print(bay)
print(foo, bar, baz, bay)

4
We are learning Python 3!
[1, 2, 3]
(1, 2, 3)
4 We are learning Python 3! [1, 2, 3] (1, 2, 3)

Variable types are inferred by what value is assigned to them. You can also change the data type after assignment.

In [ ]:
a = 6
print(type(a))
print(a, end="\n\n") 

a = "a is now a string"
print(type(a))
print(a, end="\n\n") 

a = [1, 2, 3]
print(type(a))
print(a, end="\n\n")

<class 'int'>
6

<class 'str'>
a is now a string

<class 'list'>
[1, 2, 3]

#### Casting  
You can force a value to a specific data type through casting

In [ ]:
x = str(10)    # x will be '10'.
y = int(10)    # y will be 10
z = float(10)  # z will be 10.0

print(repr(x), repr(y), repr(z))

'10' 10 10.0

Strings can be single or double-quoted. Variable names are also case-sensitive.   

The following makes three different variables:

In [ ]:
foo = 10
FOO = 20
Foo = 30

print(foo, FOO, Foo)

10 20 30

#### Comments  
Python has a single-line comment syntax. There is nothing for multi-line comments but in practice you can use a multi-line string as comment. Single lines start with # and multi-line string comments are enclosed with two `"""`  

```
# This is a single line comment 

"""
This is a multi-line comment
You can type more than one line and this is usually done in documentation
"""
```

In [ ]:
# This is a single line comment 
print(foo)

print(bar) # This is also a single line comment

4
We are learning Python 3!

In [ ]:
# You can write a multi-line 
# comment like this
# and this is valid
print(baz)


""" Or you can use a multi-line string
comment like this, and it should be fine 
as well too.  
This works but not as intended by the creators 
of Python, but it works.
"""
print(bay)

[1, 2, 3]
(1, 2, 3)

### Variable Naming Rules   
- Are case sensitive.  
- Must begin with a letter or underscore. Hyphens and whitespaces are not allowed.    
- Can be a single letter or long and descriptive.  
- Can only include alphahumeric characters and underscores.  
- Cannot begin with a number.  

Below are some examples:  

```
# Valid variable names  
varname = "Emmanuel"
var_name = "Emmanuel"
_var_name = "Emmanuel"
varName = "Emmanuel"
VARNAME = "Emmanuel"
varname14 = "Emmanuel"

# Invalid variable names  
14varName = "Emmanuel"
var-name = "Emmanuel"
var name = "Emmanuel"
```  

#### Variable Name Conventions  

- Camel Case: `varName`  
- Pascal Case: `VarName`
- Snake Case: `var_name`  


You can also assign multiple variable in one line or assign the same value to multiple variables

In [ ]:
a, b, c = "first", "second", "third"
print(a, b, c)

a = b = c = "same value"
print(a, b, c, sep=" | ")

first second third
same value | same value | same value

#### Unpacking a collection into variables  

You can also unpack a collection with the same number of variables in the collection. For example:

In [ ]:

first_names = ["Sally", "Bob", "Emmanuel"]
sally, bob, emmanuel = first_names
print(sally)
print(bob)
print(emmanuel)




# Unpacking tuples
first_names = ("Sally", "Bob", "Emmanuel")
(sally, bob, emmanuel) = first_names
print(sally)
print(bob)
print(emmanuel)

Sally
Bob
Emmanuel
Sally
Bob
Emmanuel

#### Global vs Local Variables

In [ ]:
x = "global"

def test_func():
  print("x is: ", x)

def test_func2():
  x = "local"
  print("x is: ", x)

# Using the keyword global makes a variable in the local scope global
def test_func3():
  global x 
  x = "Glbally local now"
  print("x is: ", x)

test_func()
test_func2()
test_func3()
print(x)

x is:  global
x is:  local
x is:  Glbally local now
Glbally local now


#### Python Data Types  
1. Numbers  
1. List  
1. Tuple  
1. Strings  
1. Dictionary  

Every value in Python has a datatype. Different data types in Python are Numbers, List, Tuple, Strings, Dictionary, etc. Variables in Python can be declared by any name or even alphabets like a, aa, abc, etc.
 





### Loops  


## Conditionals

In [ ]:
var_str = "Hello Teals"
var_int = 20
var_float = 20.5
var_complex = 1j
var_list = ["first", "second", "third"]
var_tuple = ("first", "second", "third")
var_range = range(10)
var_dict = {"first_name": "Emmanuel", "last_name": "Awa"}
var_set = {"one", "two", "two", "three"}
var_frozenset = frozenset(("one", "two", "two", "three"))
var_bool = True 
var_bytes = b"Hello Teals"
var_bytearray = bytearray(5)
var_memoryview = memoryview(bytes(5))

> **NOTE:** Complex types cannot be converted to any other numeric type.

In [ ]:
print(var_range)

range(0, 10)

### Operators
- Arithmetic - (+, -, *, /, %, **, //)
- Logical - (and, or, not)
- Assignment - (=, +=, -=, *=, /=, %=, //=, **=, &=, |=, ^=, >>=, <<=)
- Comprison - (==, !=, >, <, >=, <=)
- Identity - (is, is not)
- Membership - (in, not in)
- Bitwise - (&, |, ~, ^, <<, <<)



### Conditionals
Used to test a condition of statement in order to perform an action

In [ ]:
x, y = 10, 10

if x > y:
  print("X is greater than Y")
elif x == y:
  print("X is the same as Y")
else:
  print("X is less than Y")

X is the same as Y

Python has one-liner `if else` statements called **CONDITIONAL EXPRESSIONS** or **TERNARY OPERATORS**

In [ ]:
print("X is less than Y") if x > y else print("X is the same as Y") if x == y else  print("X is less than Y")

X is the same as Y

Conditionals can be used in conjuction with logical operators like `and`, `or` to test multiple conditions.  

#### Pass keyword  
`pass` can be used to by-pass a block of code.

In [ ]:
def test_pass():
  pass


class TestPass:
  pass 

if x < y:
  pass

### Loops  
Python comes in-built with two primitive loops  

- While
- For

In [ ]:
i = 1
while i < 20:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

#### Break
`break` statements are used to terminate from loops.

In [ ]:
i = 1
while i < 20:
  if i == 5:
    break 
  print(i)
  i += 1

1
2

#### Continue  
Terminates the current iteration and **continues** to the next

In [ ]:
i = 0
while i < 20:
  i += 1
  if i in range(3, 10):
    continue 
  print(i)

1
2
10
11
12
13
14
15
16
17
18
19
20

#### Loop and Else
You can also choose to run a block of code right after a loop condition is executed.

In [ ]:
i = 1
while i < 10:
  print(i)
  i += 1
else:
  print("i is now less than 10")

1
2
3
4
5
6
7
8
9
i is now less than 10

### For Loop
Used in iterating through a sequence or collection. More similar to an iterator in other languages that `for` keyword.

In [ ]:
numbers = list(range(10))

for num in numbers:
  print(num)

0
1
2
3
4
5
6
7
8
9

Similarly, `pass`, `continue`, `break` and `else` are used the same way in `for` loops. One thing to note is that the `else` block will not be executed if the `break` keyword is used.


### Functions  
A named block of code that only runs when the name is called. We've seen this already above. Howeverfunctions can also take parameters by name or arbitary using `*args`

In [ ]:
def print_name(first_name: str):
  print(f"My name is: {first_name}") # f-string formatting. More readibility, concise and faster.

print_name("Emily")
print_name("Victor")
print_name("Obinna")

My name is: Emily
My name is: Victor
My name is: Obinna

In [ ]:
def print_names(*names):
  print("All names are: ", names)

print_names("Emil", "Tobias", "Linus")

All names are:  ('Emil', 'Tobias', 'Linus')

Functions can also take keyword arguments, which is a dictionary (key/value) object.

In [ ]:
def print_name_kwargs(**kwargs):
  print("His last name is " + kwargs["last_name"])

print_name_kwargs(first_name = "Nathaniel", last_name = "Judy")

name_map = {"first_name": "Nathaniel", "last_name": "Judy"}
print_name_kwargs(**name_map)

His last name is Judy
His last name is Judy

### Lambdas
Lambda is a nameless function. 
- Can take many arguments but can only have one expression
- Useful for quick reusable one-liners that are required for a short time
- Faster than functions as it’s evaluated at runtime

In [ ]:
my_lambda = lambda a, b, c : a + b + c
my_lambda(1, 2, 3)

6

Lambdas can be useful when used inside another function. For example

In [ ]:
def number_multiplier(n: int) -> int:
  return lambda x: x * n

doubler = number_multiplier(2)
doubler(50)

100